*{
    padding: 0;
    margin: 0;
}
.course-container{
    width: 940px;
    margin: 0 auto;
    padding-top: 60px;
}
.course-container .course-header{
    background-color: #8CA2AA;
    padding: 30px 25px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-header .header-left{
    width: 660px;
}
.header-left h1{
    font-size: 29px;
    max-width: 660px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header-left>p{
    max-width: 530px;
    font-size: 14px;
    margin: 10px 0;
}
.header-left>.header-time{
    font-size: 14px;
}
.header-left>.header-time>span{
    vertical-align: middle;
}
.header-left>.header-time>font{
    margin: 0 5px;
}
.header-left>.header-left-user{
    margin-top: 30px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;

    width: 600px;
}
.header-left-user>img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff;
}
.header-left-user>div>span{
    font-size: 14px;
    display: block;
}
.header-left-user>div>.text{
    width: 500px;
    margin-top: 10px;
}

.course-header .header-right{
    width: 180px;
}
.course-header .header-right span{
    display: block;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.course-header .header-right img{
    width: 180px;
    height: 180px;
    background-color: #ffffff;
    border-radius: 8px;
}

.course-container .course-gf{
    margin-top: 40px;
}

.course-gf>h2{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
    color: #101010;
}

.course-gf>h2>:nth-child(2){
    color: #999;
    font-size: 13px;
}
.course-gf>div{
    display: flex;
    justify-content: space-between;
}
.course-gf>div>div{
    width: 460px;
}
.course-gf .gf-left{
    position: relative;
    background-color: #eee;
}
.gf-left>img,.gf-left>a>img{
    width: 100%;
    height: 200px;
    background-color: #ccc;
}
.gf-left>.tol{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 5px;
    font-weight: 600;
}
.gf-left>.over{
    background-color: #4BBC57;
    color: #ffffff;
}
.gf-left>.updata{
    background-color: #F04F3C;
    color: #ffffff;
}
.gf-left>div{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.gf-left>div>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.gf-left>div>.text{
    width: 80%;
}
.gf-left .text span{
    display: block;
    font-size: 12px;
}
.gf-left .text>:nth-child(1),a>span{
    font-size: 18px !important;
    font-weight: 600;
    color: #101010;
    margin-bottom: 5px;
}

/* 资源 */
.course-zy h2>a>span{
    font-size: 13px !important;
    font-weight: 600;
    color: #999 !important;
}
.course-zy .course-zy-h2-left span{
    font-size: 18px;
    color: #777;
    font-weight: 600;
    margin-right: 10px;
}
.course-zy .course-zy-h2-left .active{
   color: #101010;
}
.course-zy a i .icon{
    display: inline-block;
    vertical-align: middle;
}
.course-zy .course-zy-list{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}
.course-zy-list .zy-box{
    padding: 20px 20px;
    width: 225px;
    background-color: #eee;
    box-sizing: border-box;
}
.zy-box>img{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.zy-box>span{
    display: block;
    padding: 10px 0;
    text-align: center;
    height: 50px;
    font-size: 14px;
    box-sizing: border-box;
    font-weight: 600;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;  
    -webkit-box-orient: vertical;
}
.zy-box>div{
    font-size: 12px;
    color: #999;
    text-align: center;
    padding: 5px 0;

    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.zy-box font{
    margin: 0 5px;
}
.zy-box>a{
    font-size: 14px;
    color: #101010;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 72px;
    box-sizing: border-box;
}

/* 录播课程 */
.course-lb .course-lb-list{
    display: flex;
    flex-direction: column;
}
.course-lb .course-lb-list .lb-box{
    width: 940px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #eee;
    box-sizing: border-box;
}
.lb-box>a>img{
    width: 180px;
    height: 140px;
}
.lb-box>.content{
    width: 560px;
    padding: 5px 0;
}
.lb-box>.content>span{
    display: block;
    color: #101010;
    padding: 5px 0;

    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.lb-box>.content>:nth-child(1){
    font-size: 16px;
    font-weight: 600;
}
.lb-box>.content>:nth-child(2){
    font-size: 14px;
}
.lb-box>.content>div{
    color: #101010;
    padding: 5px 0;
    font-size: 14px;
}
.lb-box font{
    margin: 0 5px;
}
.lb-box>.content>.gkkc{
    font-size: 14px;
    color: #101010;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    margin-top: 5px;
    width: 105px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
}
.lb-box>.right{
    width: 120px;
    padding: 20px 0;
}
.lb-box>.right>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}
.lb-box>.right>span{
    display: block;
    font-size: 12px;
    font-weight: 600;
    color: #101010;
    text-align: center;
    padding: 5px 0;

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.lb-box>.right>:nth-child(3){
    color: #999;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.lbkc-more{
    display: block;
    text-align: center;
    padding: 60px 0;
}

/* 下载侧拉 */
.side-box{
    width: 100%;
    max-height: 400px;
}
.side-box>.side-box-head{
    background-color: #D7DEE1;
    padding: 20px 30px;
    font-size: 18px;
    color: #101010;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side-box-head>:nth-child(2){
    font-size: 13px;
    color: #777;
}
.side-box-content{
    padding: 0px 20px;
    min-height: 553px;
}
.side-box-content .lb-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
    border-bottom: 1px solid #999;
}
.side-box-content .lb-box img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.side-box-content .lb-box .content{
    width: 400px;
}
.side-box-content .lb-box>a{
    color: #101010;
    border: 1px solid #999;
    padding: 5px 15px;
}
/* 分页 */
.setPageDiv{
    width: 100%;
    height: 40px;
    
    padding: 0 20px;
    padding-top: 20px;
}
.setPageDiv #pagination{
    padding-top: 20px;
    height: 40px;
}
.setPageDiv #pagination a {
    text-decoration: none;
    background-color: #ffffff;
    color: #999;
	border: 1px solid #ccc;
}

#pagination a, #pagination span {
    display: inline-block;
    padding: 0.2em 0.5em;
    margin-right: 10px;
	margin-bottom: 5px;
}

#pagination .current {
    background-color: #ffffff;
    color: #007FFF;
	border: 1px solid #007FFF;
}

#pagination .current.prev, #pagination .current.next{
    background-color: #ccc;
    color: #fff;
	border: 1px solid #ccc;
}
/* 下载对话框 */
.down-over .layui-layer-content{
    padding: 20px 0;
}
.layui-layer-content .layui-layer-ico1{
    position: static !important;
    margin-left: 60px;
}
.layui-layer-content span{
    display: inline-block;
    line-height: 30px;
    height: 30px;
    margin-left: 40px;
    font-size: 14px;
    color: #777;
}
.layui-layer-content input{
    display: inline-block;
    margin-top: 20px;
    margin-left: 135px;
}
