*{
    padding: 0;
    margin: 0;
}
body{background:#F7F8FA;}
.recording-detail-container{width: 100%;background:#F7F8FA;}
.recording-detail-container .recording-detail-head{
    padding: 50px 0;
    background-color: #EAEDF2;
    text-align: center;
    color: #333;
}
.recording-detail-head h1{
    width: 940px;
    font-size:21.4px;
    padding-bottom:10px;
    margin: 0 auto;
    font-weight:400;
    color:#333;
}
.recording-detail-head>p{
    display: block;
    width: 940px !important;
    font-size: 33px;
    margin: 0 auto;
}
.recording-detail-container .recording-detail-content{
    width: 1440px;
    margin: 0 auto;
}
.recording-detail-content .recording-detail-video{
    width: 940px;
    padding: 20px 0;
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
}
.recording-detail-video .video-content{
    width: 940px;
    margin: 0 auto;
}
.video-content .content-top{
    display: none;  
}
.video-content>.content-top-show{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 0 8px #ccc;
}
.content-top span{
    font-size: 15px;
    color: #4f4f4f;
}
.content-top a{
    padding: 10px 30px;
    background-color: #4095E5;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 20px;
}

.video-content .content-video{
    margin-top:20px;
    position: relative;
}
.content-video .no-url-box{
    display: block;
    width: 940px !important;
    height: 510px !important;

    position: absolute;
    top: 0px;
    left: 0;
    z-index: 10;
}
.no-url-box img{
    width: 940px;
    height: 533px;
}
.content-video .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content-video .no-url-box-display-none{
    display: none;
}
.video-content .content-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
    padding:10px 15px;margin-top:-5px;
}
.content-bottom>img{
    width:60px;
    height:60px;
    border-radius: 50%;
}
.content-bottom>:nth-child(2){
    width: 720px;
    text-align:left;
}
.content-bottom>:nth-child(2)>span{
    display: block;
    font-size:20.4px;
    color: #333;
    font-weight:600;
}
.content-bottom>:nth-child(2)>:nth-child(2){
    font-size: 13.4px;
    color: #999;
    padding-top: 5px;
    font-weight:normal;
}
.content-bottom>:nth-child(3)>span{
    display: block;
    font-size: 13.4px;
    color: #333;
    text-align: center;
}
.content-bottom>:nth-child(3)>a{
    font-size: 14px;
    color: #333;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    box-sizing: border-box;
    font-weight:normal;
}
.recording-detail-content .recording-detail-bottom{
    background-color: #ffffff;
    border-radius: 5px;
    min-height: 436px;
    width: 940px;
    margin: 20px auto;
}
.recording-detail-bottom .tabbar{
    padding: 20px 20px;
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}
.tabbar>span{
    font-size: 18px;
    color: #101010;
}
.tabbar>:nth-child(1){
    margin-right: 20px;
}
.tabbar>.active{
    font-weight: 600;
    position: relative;
}
.tabbar>.active::after{
    content: "";
    width: 36px;
    border: 2px solid #4095E5;
    border-radius: 5px;

    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
}
.recording-detail-bottom .tw-content{
    padding: 20px 20px;
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* tab课程介绍 */
.tw-content .kc-js{
    width: 850px;
    padding: 145px 0;
    text-align: center;
    margin: 0 auto;
}
.tw-content .tw-box-list{
}
.tw-content .tw-box{
    display: flex;
    justify-content: space-between;

    padding: 40px 0;
    border-bottom: 1px solid #ccc;
}
.tw-box>img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.tw-box>.right>textarea{
    width: 800px;
    height: 70px;
    outline: none;
}
.tw-box>.right>div{
    padding: 10px 0;
    font-size: 12px;
}
.tw-box>.right>div>a{
    float: right;
    font-size: 14px;
    color: #ffffff;
    background-color: #CCCCCC;
    font-weight: 600;
    border-radius: 10px;
    padding: 6px 20px;
    text-decoration: none;
    box-sizing: border-box;
}
.zs-box>.right{
    width: 800px;
}
.zs-box>.right>span,.zs-box-content{
    display: block;
    max-width: 800px;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.zs-box>.right>:nth-child(1){
    font-size: 18px;
    font-weight: 600;
}
.zs-box>.right>:nth-child(2){
    font-size: 14px;
    color: #999;
    padding: 5px 0;
}.zs-box>.right>:nth-child(3){
    font-size: 16px;
}

.pl-more{
    display: block;
    text-align: center;
    padding: 40px 0;
}

/* 下载对话框 */
.layui-layer-ico1{
    margin-left: 180px;
}
.down-yes span{
    line-height: 30px;
    height: 30px;
    margin-left: 190px;
    font-size: 14px;
    color: #777;
}
.down-yes input{
    margin-top: 20px;
    margin-left: 160px;
}

/* 提示点击立即领取按钮对话框 */
.ts-content >span{
    display: block;
    text-align: center;
    margin: 0;
    margin-top: 40px;
}
