<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="<%= STATIC %>css/course/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="course-container">
        <div class="course-header">
            <div class="header-left">
                <h1>《whatsapp的用户运维方法论》直播课预约</h1>
                <p>介绍通过WIPO查询全球产品流通品牌的方法，帮助出口企业学习和掌握通过查询和解读WIPO全球品牌商标库获。介绍WIPO资源的其他应用...</p>
                <div class="header-time">时间：<span>2023/12/23  14:00</span><font>|</font>时长：<span>预计1小时20分</span><font>|</font>平台：微信视频号</div>
                <div class="header-left-user">
                    <img src="" alt="">
                    <div>
                        <span>讲师：Home310</span>
                        <span class="text">数据实操者，曾利用数据开发过3个客户,findker.com创始人</span>
                    </div>
                </div>
            </div>
            <div class="header-right">
                <span>微信扫码预约直播课</span>
                <img src="" alt="">
            </div>
        </div>

        <div class="course-gf">
            <h2><span>官方出品</span><span id="num">共计2个</span></h2>
            <div>
                <div class="gf-left">
                    <img src="" alt="">
                    <span class="tol over">已完毕</span>
                    <div>
                        <img src="" alt="">
                        <div class="text">
                            <span>《海关数据客户开发》系列课程场景篇</span>
                            <span>面向初次使用，对数据使用场景不够熟悉的用户</span>
                        </div>
                    </div>
                </div>
                <div class="gf-left">
                    <img src="" alt="">
                    <span class="tol updata">更新至23节</span>
                    <div>
                        <img src="" alt="">
                        <div class="text">
                            <span>《海关数据客户开发》系列课程场景篇</span>
                            <span>面向初次使用，对数据使用场景不够熟悉的用户</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="course-gf">
            <h2><span>官方出品</span><span id="num">共计2个</span></h2>
            <div>
                <div class="gf-left">
                    <img src="" alt="">
                    <span class="tol over">已完毕</span>
                    <div>
                        <img src="" alt="">
                        <div class="text">
                            <span>《海关数据客户开发》系列课程场景篇</span>
                            <span>面向初次使用，对数据使用场景不够熟悉的用户</span>
                        </div>
                    </div>
                </div>
                <div class="gf-left">
                    <img src="" alt="">
                    <span class="tol updata">更新至23节</span>
                    <div>
                        <img src="" alt="">
                        <div class="text">
                            <span>《海关数据客户开发》系列课程场景篇</span>
                            <span>面向初次使用，对数据使用场景不够熟悉的用户</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="course-gf">
            <h2><span>官方出品</span><span id="num">共计2个</span></h2>
            <div>
                <div class="gf-left">
                    <img src="" alt="">
                    <span class="tol over">已完毕</span>
                    <div>
                        <img src="" alt="">
                        <div class="text">
                            <span>《海关数据客户开发》系列课程场景篇</span>
                            <span>面向初次使用，对数据使用场景不够熟悉的用户</span>
                        </div>
                    </div>
                </div>
                <div class="gf-left">
                    <img src="" alt="">
                    <span class="tol updata">更新至23节</span>
                    <div>
                        <img src="" alt="">
                        <div class="text">
                            <span>《海关数据客户开发》系列课程场景篇</span>
                            <span>面向初次使用，对数据使用场景不够熟悉的用户</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>