<style type="text/css">
    .clear {clear: both;}
    .qxlayout-moudle {padding-bottom: 10px;}
    #box-warnInfo {
        background: #fff;
        border-radius: 5px;
    }
    .guide-content {padding:35px 50px;}
    .guide-content .guide-topic {text-align: center;}
    .guide-content .guide-topic h2 {
        font-size: 22px;
        color: #333;
        font-weight: bold;
    }
    .guide-content .guide-topic p {
        font-size: 15px;
        color: #444;
        padding: 13px 0;
        line-height: 150%;
    }
    .guide-content .guide-submit {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .guide-btn {
        margin-bottom: 6px;
        border: none;
        outline: none;
        height: 44px;
        line-height: 44px;
        padding:0 40px;
        margin:0 5px;
        font-size: 15px;
        text-align: center;
        background: #3B8CFF;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        color: #fff;
        font-weight: bold;
    }
    .guide-btn-open {
        margin-bottom: 6px;
        border: none;
        outline: none;
        height: 42px;
        line-height: 42px;
        width:200px;
        margin:0 5px;
        font-size: 15px;
        text-align: center;
        background: #fff;
        border:1px #3B8CFF solid;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        color: #3B8CFF;
        font-weight: bold;
    }
    .guide-btn font {
        margin-left: 5px;
        font-family: SimSun;
    }
    .btn-disabled font {
        font-family: 微软雅黑;
    }

    .btn-disabled {
        background: #ccc;
        color: #999;
        cursor: no-drop;
    }
    .guide-vedio {margin: 0 40px;}
    .guide-channel {padding: 0;}
    .guide-channel ul li {
        height: auto;
        border-bottom: 1px #eee solid;
        padding: 20px 0;
    }
    .guide-channel ul li:last-child {border-bottom: none;}
    .guide-channel ul li div {float: left;}
    .guide-channel ul li a {
        float: right;
        height: 30px;
        width: 70px;
        line-height: 30px;
        text-align: center;
        border-radius: 100px;
        font-weight: bold;
        margin-top: 10px;
    }
    .guide-channel ul li a.buyer {
        border: 1px #06c solid;
        color: #06c;
    }
    .guide-channel ul li a.supplier {
        border: 1px #06c solid;
        color: #06c;
    }
    .guide-channel ul li a.trade {
        border: 1px #06c solid;
        color: #06c;
    }
    .guide-channel ul li a.nr {
        cursor: no-drop;
        border: 1px #999 solid;
        color: #999;
    }
    .guide-channel ul li a font {
        font-family: fangsong;
        padding-left: 5px;
    }
    .guide-channel-img {
        width: 50px;
        height: 50px;
        background: #06c;
        text-align: center;
        border-radius: 5px;
    }
    .guide-channel-img img {
        width: 36px;
        height: 36px;
        margin-top: 6px;
    }
    .guide-channel-title {
        text-align: left;
        margin-left: 20px;
        width: 380px;
    }
    .guide-channel-title h3 {
        font-weight: normal;
        font-size: 16px;
        font-weight: bold;
        padding-top: 3px;
        color: #666;
    }
    .guide-channel-title p {
        font-size: 12px;
        color: #666;
        padding-top: 4px;
        font-weight: 100;
        line-height: 160%;
    }
</style>
<div id="experience_pop">
    <div class="guide-content">
        <%if(wglobals.lang == 'cn'){%>
        <div class="guide-topic">
            <h2>黄钻体验引导中...</h2>
            <p>你目前正处在黄钻体验的引导流程，完成引导后可自主体验。</p>
            <a class="guide-btn" id="btn_experience_start" href="javascript:void(0);" onclick="goto_node()">继续体验</a>
        </div>
        <%}else{%>
        <div class="guide-topic">
            <h2>Experience guiding...</h2>
            <p>You are currently in the guidance of the yellow diamond trial, and you can experience it independently after completing the guidance.</p>
            <a class="guide-btn" id="btn_experience_start" href="javascript:void(0);" onclick="goto_node()">Continue to experience</a>
        </div>
        <%}%>    
    </div>
</div>
<script type="application/javascript">
    // 跳转至流程节点
    function goto_node(){
        let url = get_process_url()
        window.location.pathname = url
    }
</script>

