<% let wd_data_list=results.wd_data_list || [],wd_data_list_num=results.wd_data_list_num %>
<div class="tw-box" id="pl_box">
    <img src="" alt="">
    <div class="right">
        <textarea type="text" placeholder="请输入内容吧..." id="pl_box"></textarea>
        <div>
            <span>提示：发布的评论需要审核后才能显示</span>
            <a href="javascript:void(0);" onclick="post_pl(7)">发布评论</a>
        </div>
    </div>
</div>

<!-- 测试数据 -->
<div class="tw-box zs-box">
    <img src="" alt="">
    <div class="right">
       <span>1111111</span>
       <span>2222222222</span>
       <p>为啊发发傻大姐附件是的可爱风哈师大发吉萨大化肥京哈深度发掘按时地方教会克里斯蒂和飞机离开大煞风景撒旦克里夫环境宽松的防护及></p>
    </div>
</div>
<div class="tw-box zs-box">
    <img src="" alt="">
    <div class="right">
       <span>1111111</span>
       <span>2222222222</span>
       <p>为啊发发傻大姐附件是的可爱风哈师大发吉萨大化肥京哈深度发掘按时地方教会克里斯蒂和飞机离开大煞风景撒旦克里夫环境宽松的防护及></p>
    </div>
</div>
<div class="tw-box zs-box">
    <img src="" alt="">
    <div class="right">
       <span>1111111</span>
       <span>2222222222</span>
       <p>为啊发发傻大姐附件是的可爱风哈师大发吉萨大化肥京哈深度发掘按时地方教会克里斯蒂和飞机离开大煞风景撒旦克里夫环境宽松的防护及></p>
    </div>
</div>
<div class="tw-box zs-box">
    <img src="" alt="">
    <div class="right">
       <span>1111111</span>
       <span>2222222222</span>
       <p>为啊发发傻大姐附件是的可爱风哈师大发吉萨大化肥京哈深度发掘按时地方教会克里斯蒂和飞机离开大煞风景撒旦克里夫环境宽松的防护及></p>
    </div>
</div>
<div class="tw-box zs-box">
    <img src="" alt="">
    <div class="right">
       <span>1111111</span>
       <span>2222222222</span>
       <p>为啊发发傻大姐附件是的可爱风哈师大发吉萨大化肥京哈深度发掘按时地方教会克里斯蒂和飞机离开大煞风景撒旦克里夫环境宽松的防护及></p>
    </div>
</div>

<% if(wd_data_list_num) {%>
    <span class="pl-more" data-id="7">点击加载更多...</span>
<% } %>
